.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  padding: 0 100px;
}

.image{
  object-fit: cover;
}

.content {
  /* padding: 0 160px; */
}

.title{
  margin-bottom: 10px;
}

.desc{
  font-size: 18px;
  color: #999;
}